<Context>
    <Resourse name="jdbc/maskaliova_contacts"
              auth="Container"
              type="javax.sql.DataSource"
              maxActive="50"
              maxIdle="30"
              maxWait="10000"
              username="maskaliova"
              password="zaqsx"
              driverClassName="com.mysql.jdbc.Driver"
              url="jdbc:mysql://localhost:3306/Maskaliova_contacts?useSSL=false"
              />
</Context>